name: Agent CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    permissions:
      contents: read
      packages: write
    uses: doon728/agent-platform-ci/.github/workflows/python-langgraph-agentcore.yml@main

